.task-list-container-registration {
    background: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.task-container-registration {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-width: 500px;
}
@media (max-width: 768px) {
    .task-container-registration {
        min-width: 350px;
    }
}

@media (max-width: 480px) {
    .task-container-registration {
        min-width: 250px;
    }
}

