.task-list-login {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
.main-title-text-login {
    flex: 0 0 auto;
    font: 800 84px "Inter";
    align-self: center;
    color: black;
    white-space: pre-wrap;
}